@charset "utf-8";
/* CSS Document */

/* Dette er til at ændre baggrundsfarve på body */

body {
	background-color: grey;
}

* {
	color: black;
}

.red {
	color: red;
	border-width: 1px;
	border-style: dashed;
	border-color: black;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 25pt;
	text-align: center;
	display: block;
	margin-bottom: 20px;
	padding: 20px;
	top: 0px;
	right: 200px;
	
}

h1, h2, h3, h4, h5, p, a, .red {
	font-family: dream-big-narrow,sans-serif;
	font-weight: 300;
	font-style: normal;
	
}

.animation{
	width: 100px;
	height: 100px;
	background-color: black;
	animation-name: test;
	position: relative;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-iteration-count: 3;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
}
.animation:hover {
	background-color: orange;
}
@keyframes test{
	0%{background-color: black; left: 0px; top: 0px; scale: 1;}
	50%{background-color: violet; left: 200px; top: 0px; scale: 1;}
	75%{background-color: blue; left: 200px; top: 200px; scale: 1;}
	100%{background-color: black; left: 0px; top: 200px; scale: 1;}
}


